.about {
    margin: 0 60px;
    .title {
        padding: 20px 40px 0 0;
    }
}

.about-content h1 {
    font-size: 28px;
    margin-bottom: 14px;
    margin-top: 28px;
    font-weight: normal;
}

.about-content p {
    margin-bottom: 14px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .about {
        margin: 0 20px;
        .title {
            padding: 0;
        }
        .img-container {
            display: flex;
            justify-content: center;
            img {
                width: 268px;
            }
        }
    }
}
