.products {
    display: flex;
}

.row .intro {
    font-size: 16px;
    padding: 20px 28px 0 36px;
    text-align: justify;
    word-break: break-all;
}

.intro p {
    color: #797979;
    margin: 10px 0;
}

.product-list {
    margin-top: 20px;
    width: 1200px;
}

.product-item img {
    width: 332px;
    height: 332px;
}

.row .product-item {
    margin-top: 28px;
}

.product-item a {
    text-decoration: none;
    color: #000;
}

.product-item a:hover {
    color: #000;
}

.product-item p {
    margin: 8px;
}

.product-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item .btn-add {
    padding: 10px 40px;
}