.products {
    display: flex;
    padding-top: 20px;
}

.row .intro {
    font-size: 16px;
    padding: 20px 28px 0 36px;
    text-align: justify;
    word-break: break-all;
}

.intro p {
    color: #797979;
    margin: 10px 0;
}

.product-list {
    margin-top: 20px;
    width: 1200px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product-item img {
    width: 332px;
    height: 332px;
}

.product-item a {
    text-decoration: none;
    color: #000;
}

.product-item a:hover {
    color: #000;
}

.product-item p {
    margin: 8px;
    text-align: center;
}

.product-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item .btn-add {
    width: 70%;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .products {
        display: block;
    }
    .intro h1,
    .intro p {
        text-align: center;
    }
    .product-item img.product-img {
        width: 175px;
        height: 175px;
    }
}
