.cart {
    padding-top: 20px;
}

.cart h1 {
    text-align: center;
}

.cart p {
    text-align: center;
    margin: 24px;
    font-style: italic;
}

.cart-item {
    margin: 20px auto;
    padding: 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 1px solid;
}

.cart-text .quantity span {
    text-align: center;
    font-size: 20px;
}

.cart-text button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.close i {
    font-size: 24px;
    line-height: 150px;
    cursor: pointer;
}

.total-price {
    margin-top: 60px;
}

.cart .total-price p {
    font-size: 24px;
    margin-top: 10px;
    font-style: normal;
}

.total-price button {
    margin: 20px auto;
    background-color: #000;
    padding: 10px;
    color: white;
}
@media only screen and (max-width: 768px) {
    .cart-item {
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .close i {
        position: absolute;
        top: 0;
        right: 0;
    }
    .cart-text button {
        font-size: 36px;
    }
}
