.content .carousel {
    width: 100%;
    margin-top: 80px;
}

.carousel .carousel-indicators {
    justify-content: flex-end;
    margin-right: 32px;
}

.carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
    .carousel-content {
        h2 {
            font-size: 14px;
        }
        p,
        li {
            font-size: 12px;
        }
        a {
            font-size: 12px;
        }
        button {
            display: none;
        }
    }
}
