* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif !important;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.content {
    margin-top: 90px;
    min-height: 250px;
}

.currency {
    font-size: 14px;
    margin-right: 2px;
}